openapi: 3.0.1
info:
  title: OpenAPI Document on Azure Functions
  description: This is the OpenAPI Document on Azure Functions
  version: 1.0.0
servers:
  - url: https://apim-api-security.azure-api.net/func-api-security
components:
  securitySchemes:
    APIKeyAuth:   
      type: apiKey
      in: header   
      name: Ocp-Apim-Subscription-Key 
security:
  - APIKeyAuth: []
paths:
  /health:
    get:
      tags:
        - health
      summary: health
      description: Gets the health of the api
      operationId: health
      responses:
        "200":
          description: This returns the response
          content:
            text/json:
              schema:
                type: string
          x-ms-summary: The response
  "/sample/{id}":
    get:
      tags:
        - get
      summary: get
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      description: get
      operationId: get
      responses:
        "200":
          description: This returns the response
          content:
            text/plain:
              schema:
                type: string
          x-ms-summary: The response
    patch:
      tags:
        - patch
      summary: patch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      description: patch
      operationId: patch
      responses:
        "200":
          description: This returns the response
          content:
            text/plain:
              schema:
                type: string
          x-ms-summary: The response
    delete:
      tags:
        - delete
      summary: delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      description: delete
      operationId: delete
      responses:
        "200":
          description: This returns the response
          content:
            text/plain:
              schema:
                type: string
          x-ms-summary: The response
  /sample:
    post:
      tags:
        - post
      summary: post
      description: post
      operationId: post
      responses:
        "200":
          description: This returns the response
          content:
            text/plain:
              schema:
                type: string
          x-ms-summary: The response
# components:
#   securitySchemes:
#     function_key:
#       type: apiKey
#       name: code
#       in: query
